<main class="ws-mag-home">
	
	<!-- THE DESIGN EDITION -->
	<article class="ws-article -leadarticle -first" style="border-bottom-color: #B0A598;">
		<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
		<a href="/the-article" class="ws-article-header">
			<h4 class="ws-article-title -med">oh dixon, do it again</h4>
			<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
		</a>
		<a href="/the-article" class="ws-article-blockquote">
			<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
		</a>
		<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
			<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
			<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
			<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
		</footer>
	</article>
	
	<section class="ws-cluster">
		<h5 class="ws-cluster-title -capitalize -med">more from the <a href="/editions/the-edition" class="ws-cluster-title-edition" style="color: #B0A598;">design edition</a></h5>
		<article class="ws-article" style="border-bottom-color: #B0A598;">
			<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
			<a href="/the-article" class="ws-article-header">
				<h4 class="ws-article-title -med">oh dixon, do it again</h4>
				<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
			</a>
			<a href="/the-article" class="ws-article-blockquote">
				<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
			</a>
			<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
				<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
				<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
				<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
			</footer>
		</article>

		<article class="ws-article" style="border-bottom-color: #B0A598;">
			<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
			<a href="/the-article" class="ws-article-header">
				<h4 class="ws-article-title -med">oh dixon, do it again</h4>
				<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
			</a>
			<a href="/the-article" class="ws-article-blockquote">
				<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
			</a>
			<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
				<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
				<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
				<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
			</footer>
		</article>

		<article class="ws-article" style="border-bottom-color: #B0A598;">
			<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
			<a href="/the-article" class="ws-article-header">
				<h4 class="ws-article-title -med">oh dixon, do it again</h4>
				<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
			</a>
			<a href="/the-article" class="ws-article-blockquote">
				<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
			</a>
			<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
				<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
				<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
				<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
			</footer>
		</article>

		<article class="ws-article" style="border-bottom-color: #B0A598;">
			<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
			<a href="/the-article" class="ws-article-header">
				<h4 class="ws-article-title -med">oh dixon, do it again</h4>
				<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
			</a>
			<a href="/the-article" class="ws-article-blockquote">
				<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
			</a>
			<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
				<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
				<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
				<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
			</footer>
		</article>
	</section>

	<article class="ws-article -quotation" style="border-bottom-color: #B0A598;">
		<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
		<a href="/the-article" class="ws-article-header">
			<h4 class="ws-article-title -med">oh dixon, do it again</h4>
			<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
		</a>
		<a href="/the-article" class="ws-article-blockquote">
			<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodating the other</blockquote>
		</a>
		<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
			<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
			<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
			<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
		</footer>
	</article>	

	<section class="ws-cluster">
		<h5 class="ws-cluster-title -capitalize -med">more from the <a href="/the-edition" class="ws-cluster-title-edition" style="color: #B0A598;">design edition</a></h5>
		<article class="ws-article" style="border-bottom-color: #B0A598;">
			<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
			<a href="/the-article" class="ws-article-header">
				<h4 class="ws-article-title -med">oh dixon, do it again</h4>
				<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
			</a>
			<a href="/the-article" class="ws-article-blockquote">
				<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
			</a>
			<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
				<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
				<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
				<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
			</footer>
		</article>

		<article class="ws-article" style="border-bottom-color: #B0A598;">
			<a href="/the-article" class="ws-article-image" style="background-image: url('/posts/images/edition-1/vitra-hero.png');"></a>
			<a href="/the-article" class="ws-article-header">
				<h4 class="ws-article-title -med">oh dixon, do it again</h4>
				<p class="ws-article-subtitle">any company sufficiently powerful to absorb it's rival is worthy of scrutiny, but it's disorientating.</p>
			</a>
			<a href="/the-article" class="ws-article-blockquote">
				<blockquote class="ws-article-blockquote-text">what matters in design, as in love, is accomodation for the other.</blockquote>
			</a>
			<footer role="contentinfo" class="ws-article-footer" style="color: #B0A598;">
				<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
				<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
				<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
			</footer>
		</article>
	</section>
	<!-- THE DESIGN EDITION -->
	
</main>

