<article class="ws-edition" style="background: #B0A598;">
	<p class="ws-edition-no -capitalize">edition no. <span class="ws-edition-no-roman">x</span></p>
	<h3 class="ws-edition-title">the <span class="ws-edition-title-name">design edition</span></h3>
	
	<div class="ws-edition-forward">
		<p>By design one means order in human feeling and thought and in the many varied activities by which that feeling or that thought is expressed. by order I mean, particularly, three things: harmony, balance, and rhythm. these are the principal modes in which order is revealed in nature, and through design in works of art.</p>

		<p>Whenever two or more impressions or ideas have something in common that is appreciable, they are in harmony, in the measure of what they have in common. The harmony increaes as the common element increases; or the common elements. It diminishes in the measure of every diference or contrast.</p>

		<p>In this edition hevnly expores how we can measure harmony in design by interview, case study, and story. </p>	
		<svg version="1.1" id="hevnly-symbol" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" class="icn-hevnly-symbol">
			<path d="M19.8,3.5L14.9,1C14.8,1,14.6,1,14.5,1.1l-2.4,2.2L9.7,1.1C9.5,1,9.3,1,9.2,1L4.3,3.5
			C4.1,3.6,4,3.7,4,3.8v12.8C4,16.8,4.1,17,4.3,17c0,0,0.1,0,0.1,0c0.1,0,0.3-0.1,0.3-0.2L12,4.7l7.2,12.1c0.1,0.1,0.2,0.2,0.3,0.2
			c0,0,0.1,0,0.1,0c0.2,0,0.3-0.2,0.3-0.4V3.8C20,3.7,19.9,3.6,19.8,3.5z M4.8,15.2V4.1l4.4-2.2l2.3,2.1L4.8,15.2z"></path>
		</svg>
	</div>
</article>