<header role="banner" class="ws-header -inflow -expanded">
    <div class="ws-header-navrow">
        <a href="/" class="ws-logotype">
            <img src="https://d1aq1bw1xvj3lr.cloudfront.net/v0.4.4/images/brand/logotype/hevnly_logotype_neg.png" alt="hevnly's logo branding" class="ws-logotype-image">
        </a>
        <nav class="ws-sitenav">
            <a href="http://blog.hevnly.com/" class="accent">magazine</a>
            <a href="https://hevnly.com/login">log in</a>
            <a class="ws-sitenav-jointoggle" href="https://hevnly.com/registermagazine">
                <span class="ws-sitenav-jointoggle-forwardstext">join</span>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -3 24 24" class="icn-cross ws-sitenav-jointoggle-backwardsicon">
                    <path d="M12.6,9l5.7-5.7c0.2-0.2,0.2-0.4,0-0.6c-0.2-0.2-0.4-0.2-0.6,0L12,8.3L6.3,2.6C6.2,2.5,5.8,2.5,5.6,2.6
                        c-0.1,0.2-0.1,0.6,0,0.6l5.7,5.7l-5.7,5.7c-0.1,0.2-0.2,0.4,0,0.6c0.2,0.2,0.6,0.2,0.6,0.2l5.7-5.7l5.7,5.7c0.2,0.2,0.4,0.2,0.6,0
                        c0.2-0.2,0.2-0.4,0-0.6L12.6,9z"></path>
                </svg>
            </a>
        </nav>
    </div>
    
    <div class="ws-globsignup-container">
        <div class="ws-globsignup">
            <button class="ws-globsignup-tip">
                <svg version="1.1" class="icn-mail" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24">
                    <path fill-rule="evenodd" d="M19.9,5.6c-0.1-0.1-0.2-0.1-0.4-0.1H4.5
                        c-0.1,0-0.3,0-0.4,0.1C4,5.7,4,5.9,4,6c0,0,0,0,0,0v12c0,0.3,0.2,0.5,0.5,0.5h15c0.3,0,0.5-0.2,0.5-0.5V6c0,0,0,0,0,0
                        C20,5.9,20,5.7,19.9,5.6z M18.1,6.5L12,11.4L5.9,6.5H18.1z M18.5,17.5h-13C5.2,17.5,5,17.3,5,17V7l6.6,5.3c0,0,0,0,0,0
                        c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1c0,0,0,0,0,0L19,7v10C19,17.3,18.8,17.5,18.5,17.5z"></path>
                </svg>
                <span class="spinner"></span>
            </button>
            <input type="text" placeholder="your email" class="ws-globsignup-input">
            <button class="ws-globsignup-button">join</button>
        </div>    
    </div>

    <div class="ws-mag-intro">
        <p class="ws-mag-intro-pretext ws-text-spacedout">Introducing the Magazine</p>
        <h1 class="ws-mag-intro-title">Hevnly Holy Grail</h1>
        <nav class="ws-mag-catnav">
            <a href="/" class="ws-mag-catnav-button">
                <img src="http://mats-macbook-air.local:5757/images/magazine/icn-watch.png" class="ws-mag-catnav-icn" alt="The people icon, represented by a watch. ">
                <sub class="ws-mag-catnav-label">Products</sub>
            </a>
            <a href="/" class="ws-mag-catnav-button">
                <img src="http://mats-macbook-air.local:5757/images/magazine/icn-mountain.png" class="ws-mag-catnav-icn" alt="The places icon, represented by mountains. ">
                <sub class="ws-mag-catnav-label">Places</sub>
            </a>
            <a href="/" class="ws-mag-catnav-button">
                <img src="http://mats-macbook-air.local:5757/images/magazine/icn-helix.png" class="ws-mag-catnav-icn" alt="The places icon, represented by mountains. ">
                <sub class="ws-mag-catnav-label">People</sub>
            </a>
        </nav>

        <div class="ws-tagline-container ws-mag-intro-tagline">
            <div class="ws-tagline-message">
                <p class="ws-tagline-message-txt -capitalize">the holy grail of</p>
            </div>
            <div class="ws-tagline-flipper">
                <div class="ws-tagline-flipper-front -capitalize">culture</div>
                <div class="ws-tagline-flipper-back -capitalize">inspiration</div>
            </div>
        </div>
        
        <!-- <div class="ws-mag-intro-tagline ws-mag-tagline">
            <p class="ws-mag-tagline-message ws-text-spacedout">For those who want more <span class="ws-mag-tagline-rotating">style</span></p>
        </div> -->

        <button class="ws-mag-intro-dismiss">Don't show me this again</button>
    </div>
</header>