<!-- THE POST CONTENT TEMPLATE -->

<article class="ws-post">
	<header class="ws-post-header ws-hero -fullimage" style="background-image: url('/posts/images/edition-1/vifa-hero.jpg');">
		<h3 class="ws-post-title ws-post-titleplacard">the apex of nordic audio design</h3>
		<p class="ws-post-subtitle ws-post-titleplacard">quality detail meets pitch perfect orchestration</p>
	</header>
	<div class="ws-article-footer" role="contentinfo">
		<a href="/edition-url" class="ws-article-metadata -capitalize">from the <span class="ws-article-metadata-edition-name" style="color: #B0A598">design edition</span></a>
			<a href="/categories/people" class="ws-article-metadata -capitalize">in <span href="/people" class="ws-article-metadata-category-name">people</span></a>
			<a href="/the-article" class="ws-article-metadata ws-article-metadata-readtime -capitalize -nodot"><span class="ws-article-metadata-readtime-time">4</span> min read</a>
	</div>

	<section class="ws-post-thepost">
		<p>When you type, ‘Why is Copenhagen…’ into Google, the search box completes the sentence with, ‘the happiest place on earth?’ Safe cycle paths, trustworthy politicians and a collective intolerance of anything superficial are no doubt contributing factors.</p>
		
		<p>That Copenhagen is home to the world’s best restaurant – Michelin-starred Noma – probably helps, too. (The ‘whipped pork fat with apple aquavit and scratchings’ makes an excellent death row meal, by the way). Sustainable architecture, umpteen single origin coffee houses – and even the car parks are cool. We could go on. But where does this enviable culture stem from? Quite simply, the Danes love good design – urban and interior. Everything in Denmark is carefully thought through, which makes them easier to use, and thus sends the mercury of happiness shoot to the top of the satisfaction thermometer.</p>
		
		<p class="ws-post-thepost-image">
			<img src="/posts/images/edition-1/vifa-copenhagen.jpg" alt="vifa's first wireless speaker" title="vifa's first wireless speaker">
			<span>vifa's first wireless speaker</span>
		</p>

		<p>It’s a philosophy that Danish design luminary Vifa has quietly embraced for 80 years. Since the 1930s, the celebrated audio brand has focused on creating high-fidelity loudspeakers that produce the best possible sound. Traditionally, that meant wood-cased bookshelf speakers aimed at audiophiles. But the company has now applied that expertise to a new range of modern devices. Behold, the Copenhagen – Vifa’s first wireless speaker.</p>

		<p>As you can see, it’s as handsome as any piece of furniture. A silky-smooth one-piece aluminum frame houses an impressive six speaker drivers (two tweeters, two mid-range and two Force Balanced woofers) along with digital pure path amplifiers. Merely removing it from the packaging is a wondrous experience: at 4.65kg it feels as solid and weighty as James Bond’s 1930 Blower Bentley. Expertly machined and designed to last, if these beauties don’t outlast their owners, we’ll eat Pharrell’s hat.</p>

		<blockquote style="background: #B0A598;">
		    <p>It’s clear that everyone involved with the Copenhagen – from the engineers to the designers – must really love music</p>
		</blockquote>

		<p>Last year, the Copenhagen won two prestigious product design awards – an iF and a Red Dot. It’s easy to see why. The sound quality is spectacular; a powerful, symphonic swell capable of filling any space with warm, intimate melodies. As the judges noted, the Copenhagen is also one of those rare products that doesn’t require geeky knowledge, experience of music streaming or advanced manual-decoding skills. It works straight out of the box thanks to an arsenal of connectivity options. With Bluetooth aptX, Apple AirPlay and Wi-Fi Direct (the audiophile’s choice for Hi-Res studio master files) to name but a few, it’s capable of streaming music from any source.</p>

		<p>It took us less than five seconds to pair a Copenhagen with a smartphone. Play a song and the track instantly switches from our phone’s tinny speakers to the Copenhagen’s masterful six-driver set-up. Which leaves us with two thoughts: firstly, mobile phone speakers really are bad. Secondly, it’s clear that everyone involved with Copenhagen - from the engineers to the designers - must really love music.</p>

		<p class="ws-post-thepost-image">
			<img src="/posts/images/edition-1/vifa-copenhagen-stairs.jpg" alt="Vifa Copenhagen wireless speaker" title="Vifa Copenhagen wireless speaker">
			<span>designed with detail</span>
		</p>

		<p>“in all my time in the design industry, i’ve never seen such a tremendous response to a new product” says vifa’s lena hansen. “social media, web forums and the blogosphere have embraced us, and we’ve been getting inquiries from around the world – it’s been just stunning.” a good chunk of those retweets celebrated the copenhagen’s distinct nordic design, and in particular its contrasting wool grille. specially commissioned from kvadrat, a leading manufacturer of high-quality textiles and the go-to company for the likes of raf simons, it’s available in six colours including pebble grey, anthracite grey, sunset red, sand yellow, ocean blue and ice blue.</p>

		<blockquote style="background: #B0A598;">
		  <p>If you’d like to own vifa’s cocktail of craftsmanship, contemporary style and modern tech, then we have good news.</p>
		</blockquote>

		<p>But, of course, there’s much more to the copenhagen than just nice wool. the details you’ll notice over time include a hidden light above the exquisitely-embroidered volume buttons, which acts as a status indicator. you might also download the app. it allows owners to fine tune the copenhagen’s more sophisticated settings, tweaking highpass filters or compensating for the placement (shelves, walls, centre of room, etc). the copenhagen can plugged into the mains, but if you want to show off the design as it was intended, use it wirelessly. the battery lasted us a marathon five hours before requiring a re-charge.</p>

		<p>If you’d like to own vifa’s cocktail of craftsmanship, contemporary style and modern tech, then we have good news. the audio gods have blessed the members of hevnly with a preferential price. So click though, sit back, make yourself a stiff martini and await the arrival of an award-winning wireless wonder. Happy?</p>

		<p class="ws-post-thepost-image">
			<img src="/posts/images/edition-1/vifa-ender.jpg" alt="Vifa Copenhagen wireless speaker" title="Vifa Copenhagen wireless speaker">
		</p>
	</section>

	<div class="ws-post-register">
		<div class="ws-globsignup">
			<div class="ws-post-register-container">
				<div class="ws-tagline">
			        <p class="ws-tagline-statictxt">sign up for more <span class="ws-tagline-dynamictxt">stories</span></p>
			    </div>
				<div class="ws-globsignup-txtbox">
		            <button class="ws-globsignup-tip">
		                <svg version="1.1" class="icn-mail" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24">
		                    <path fill-rule="evenodd" d="M19.9,5.6c-0.1-0.1-0.2-0.1-0.4-0.1H4.5
		                        c-0.1,0-0.3,0-0.4,0.1C4,5.7,4,5.9,4,6c0,0,0,0,0,0v12c0,0.3,0.2,0.5,0.5,0.5h15c0.3,0,0.5-0.2,0.5-0.5V6c0,0,0,0,0,0
		                        C20,5.9,20,5.7,19.9,5.6z M18.1,6.5L12,11.4L5.9,6.5H18.1z M18.5,17.5h-13C5.2,17.5,5,17.3,5,17V7l6.6,5.3c0,0,0,0,0,0
		                        c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1c0,0,0,0,0,0L19,7v10C19,17.3,18.8,17.5,18.5,17.5z"></path>
		                </svg>
		                <span class="spinner"></span>
		            </button>
		            <input type="text" placeholder="your email" class="ws-globsignup-input">
		            <button class="ws-globsignup-button">join</button>    
		        </div>

		        <p class="ws-globsignup-spam">no spam. no commitment. just you and hevnly</p>
			</div>
	    </div>
	</div>
	
</article>
